<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V.O. GO</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    <%- include(`../nav.ejs`)%>

    <img src='../imgs/logo.png' alt="logoimage" id="logo">
    <div class="container">
        <div class="sidebar"></div>
        <div class="navigation">

            <h1><%= recording.category %></h1>

            <div><% Categories.map(c=><%= c %>) %> </div>
            <div>
                <h3>Animation</h3>
                <% recordings.filter(recording => recording.dropdown === 'Animation').forEach(function(recording){ %>

                Title: <%= recording.title %>
                -
                Link To Recording: <%- recording.recording %>
                -
                Date Recorded: <%= recording.date %>

                <%   }); %>
            </div>
            <div class="foot">
                <a href="/recordings/<%= recording._id %>/edit">Edit</a>
                <a href="/recordings">Cancel</a>
                <form action="/recordings/<%= recording._id%>?_method=DELETE" method="POST"><input type="submit"
                        value="Delete" class="Delete"></form>
            </div>
        </div>
    </div>
    </div>

    <%- include(`../footer`)%>
</body>

</html>