<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V.O. GO</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico">
</head>

<body>
    <%- include(`../nav.ejs`)%>
    <div class="container">
        <div class="sidebar"></div>
        <div class="navigation">

            <h1><%= category %></h1>
            <div>
                <% recordings.forEach(function(recording){ %>

                Title: <%= recording.title %>
                -
                Link To Recording: <%- recording.recording %>
                -
                Date Recorded: <%= recording.date %>

                     <div class="foot">
                        <a href="/recordings/<%= recording._id %>/show">Details</a>
                        <a href="/recordings/<%= recording._id %>/edit">Edit</a>
                        <form action="/recordings/<%= recording._id%>?_method=DELETE" method="POST" id="delete"><input type="submit"
                            value="Delete" id="submit"></form>    
                            
                    </div>
                   
                <%   }); %>
                <a href="/recordings" id="cancel">Cancel</a>
            </div>
        </div>
    </div>

    <%- include(`../footer`)%>
</body>

</html>