<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V.O. GO</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    <%- include(`../nav.ejs`)%>
    <div class="container">
        <div class="sidebar"></div>
        <div class="navigation">

            <h1>V.O. GO Recordings</h1>

            <div>
                <% recordings.forEach(function(recording){ %>
                    <br/>
                Title: <%= recording.title %>
               <br/>
                Link To Recording: <%- recording.recording %>
                <br/>
                Date Recorded: <%= recording.date %>
                <br/>
                Category: <%= recording.dropdown %>
                <div class="foot">
                        <a href="/recordings/<%= recording._id %>/show">Details</a>
                        <a href="/recordings/<%= recording._id %>/edit">Edit</a>
                        <form action="/recordings/<%= recording._id%>?_method=DELETE" method="POST" id="delete"><input type="submit"
                            value="Delete" id="submit"></form>    
                    </div>
                <%   }); %>

            </div>
        </div>
    </div>

    <%- include(`../footer`)%>
</body>

</html>