<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V.O. GO</title>
</head>

<body>
    <%- include(`../nav.ejs`)%>
    
    <h1>V.O. GO Recordings</h1>
    
    <div>
        <% recordings.forEach(function(recording){ %>
          
            Title: <%= recording.title %>
            -
            Link To Recording: <%- recording.recording %>
            -
            Date Recorded: <%= recording.date %>
            -
            Category: <%= recording.dropdown %>
            -
            Food or Drink Intake: <%= recording.intake %>
            -
            Notes: <%= recording.notes %>
            <a href="/recordings/<%= recording._id %>/edit">Edit Recording</a>
            <form action="/recordings/<%= recording._id%>?_method=DELETE" method="POST"><input type="submit" value="Delete Recording"></form>

        <%   }); %>

        </div>
    
</body>

</html>